// .font-alg {
//   font-family: "Algerian";
//   src: url("./assets/fonts/Algerian-Regular.ttf");
// }
$phone: 640px;
$tablet: 768px;
$desktop: 1024px;

// @include media(">phone", "<tablet") {}
// @include media(">tablet", "<950px") {}
// @include breakpoint(453px $breakpoint-tablet) {}
// @include breakpoint($breakpoint-tablet 850px) {}


.pointer {
 cursor: pointer
}
.font-face {
  font-family: 'Algerian'!important;
  font-weight: 500!important;
}
.font-logo {
  font-family: 'MATURASC'!important;
  font-weight: 500!important;
}