// .font-alg {
//   font-family: "Algerian";
//   src: url("./assets/fonts/Algerian-Regular.ttf");
// }


.pointer {
 cursor: pointer
}
.font-face {
  font-family: 'Algerian'!important;
  font-weight: 500!important;
}
.font-logo {
  font-family: 'MATURASC'!important;
  font-weight: 500!important;
}